.jsx-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.function-comp {
  margin: 66px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.class-comp {
  margin: 66px 0;
}
